body,h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
@font-face {
    font-family: "Fips";
    src: url("../fonts/Fipps-Regular.otf") format("woff2")
}
@font-face {
    font-family: "Together";
    src: url("../fonts/Better-Together-Script.ttf") format("woff2")
}
@font-face {
    font-family: "NanamiPro";
    src: url("../fonts/NanamiPro-Normal.otf") format("woff2")
}
@font-face {
    font-family: "NanamiRounded";
    src: url("../fonts/Nanami-Rounded-Inline.otf") format("woff2")
}

li{
    list-style: none;
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
